//====================================================================================================
.header {
	min-height: rem(153);
	background-color: #F9F9F9;
	// .header__container
	@media (max-width:$mobile){
		min-height: rem(142); 
	}
	&__container {
		display: flex;
		@media (max-width:$mobile){
			 padding: 0 rem(15); 
		}
		

	}
	&__content{
		display: flex;
		@media (max-width:$mobile){
			 display: flex;
			 flex-direction: column;
			 gap: rem(14); 
			 
		}
		

	}
	// .header__logo

	&__logo {
		@include adaptiveValue("padding-top",23 ,10 );
		padding-right: rem(363);
		@media (max-width:$mobile){
			 padding-right: rem(50); 
		}
	}

	// .header__title

	&__title {
		@media (max-width:$mobile){
			
		}
	}

	// .header__text

	&__text {
		
		@include adaptiveValue("padding-top",54 ,40);
		font-weight: 400;
		font-size: rem(16);
		line-height: rem(24);
		@media (max-width:$mobile){
			font-size: rem(14.5);
			}

	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		margin-top: rem(37);
		margin-left: rem(15);
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 20px;
			
			position: absolute;
			
			width: 100%;
			height: rem(2);
			background-color: $mainColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}


